.App{
  text-align: center;
}

input {
  margin: 5px;
}

button {
  margin: 5px;
}

.LoginPage,.RegisterPage,.ProfilePage {
  text-align: center;
  width: 20%;
  margin-top: 15%;
  margin-left: 40%;
  background-color: beige;
  padding: 1%;
}